<html>
<head>
    <title>Wikis</title>
    <link rel="stylesheet" type="text/css" href="/static/extjs/resources/ext-theme-neptune/ext-theme-neptune-all.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/wikis.css" />  
    <script type="text/javascript">
        sessionStorage.iw_csrf_token = {{ .csrf_token }};
    </script>
    <script type="text/javascript" src="/static/extjs/ext-all.js"></script>
    <script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
</head>
<body></body>
</html>
